header {
  background: darkgray;
  color: #fff;
}

h3 {
  color: blue;
}

body {
  background-color: gray;
  color: lightblue;
}

aside {
  background: green;
  color: white;
}

footer {
  background: darkgray;
  color: #fff;
}


@media screen and (min-width: 70em) {
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header {
    grid-column: 1/5;
  }

  aside {
    grid-column: 1/5;
  }

  footer {
    grid-column: 1/5;
  }
}
